.initechNode {
  border: solid 3px red;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  display: inline-block;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px red;
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px red;
}

.img {
  width: 100%;
  border-radius: 50%;
}

.rayita {
  width: 3px;
  height: 50px;
  background-color: red;
  margin-top: -2px;
  margin-bottom: -2px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red{
  box-shadow: 5px 10px #888888;
}